<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота 1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав Писарєв Владислав КН-32</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
      <p class="p_background p_color">На заданому
        проміжку чисел [a,b]
        знайдіть кількість
        чисел, які кратні 55,
        непарні і при діленні
        на 7 дають в остачі 3.</p>    
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Число a</ion-label>
        <ion-input type="number" id="a" value="1" #Inputa ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> число b</ion-label>
        <ion-input type="number" id="b"  value="2" #Inputb ></ion-input>
      </ion-item>
        <ion-button expand="block" (click)="ras(Inputa.value,Inputb.value)">Розрахунок</ion-button>
      <ion-item>
        <p>Результат обчислення {{d}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

