.p_background{
    background: url(https://images.nationalgeographic.org/image/upload/t_edhub_resource_key_image/v1652341068/EducationHub/photos/ocean-waves.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.p_color{
    color: black;
}